div#title-card-edit {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  line-height: 30px;

  color: #fff;
}

div#title-card-edit input {
  border: 0;
  background: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  text-align: center;
}

div#title-card-edit h2 {
  margin-top: 20px;
  font-size: 40px;
  letter-spacing: -2px;
  font-weight: lighter;
}

div#title-card-edit #day {
  font-size: 90px;
  letter-spacing: -5px;
  text-transform: capitalize;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

div#title-card-edit #hours {
  font-size: 40px;
  letter-spacing: -2px;
  text-transform: capitalize;
  font-weight: lighter;
  width: 100%;
}

div#title-card-edit label {
  margin-top: 20px;
  color: #ccc;
}

div#title-card-edit #url {
  margin-top: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
}

div#title-card-edit #share {
  text-align: center;
  font-weight: bold;
  color: #fff;
}

div#title-card-edit #play {
  text-decoration: none;
  margin-top: 30px;
  border: 1px solid #fff;
  padding: 5px;
  border-radius: 5px;
  background: #000;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  transition: background 0.2s;
}

div#title-card-edit #play:hover {
  background: #fff;
  color: #000;
}